name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Gradle Cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Maven Cache
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Git Config
      run: |
        git config --global user.email "ci@loomdev.org"
        git config --global user.name "LoomDev CI"
    - name: Set up Linux folder permissions
      run: chmod -R -f 777 tools/scripts
    - name: Loom Setup
      run: ./loom s
    - name: Loom Jar
      run: ./loom jar
    - name: Upload Artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: loom
        path: loom-*.jar
