name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: actions/cache@v1.1.2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Patch
      run: |
        git config --global user.email "ci@loomdev.org"
        git config --global user.name "LoomDev CI"
        git submodule update --init --recursive
        chmod -R -f 777 tools/scripts
        ./loom s
        mvn package
        ./loom jar
    - name: Upload Artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: loom-server
        path: loom-*.jar

